<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.schoolstressreliever">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Schoolstressreliever">
        <activity
            android:name=".vico.AddServiceMeetingActivity"
            android:exported="true" />
        <activity
            android:name=".vico.ServiceMeetingOverviewActivity"
            android:exported="true" />
        <activity
            android:name=".Ernest.GradeVehicleHolder"
            android:exported="false" />
        <activity
            android:name=".Ernest.newAcademicOverview"
            android:exported="true" />
        <activity
            android:name=".Ernest.AddAcademicActivity"
            android:exported="true" />
        <activity
            android:name=".vico.BookServiceActivity"
            android:exported="true" />
        <activity
            android:name=".justin.AddActivityActivity"
            android:exported="true" />
        <activity
            android:name=".kevin.ShowSubjectActivity"
            android:exported="true" />
        <activity
            android:name=".kevin.AddSubjectActivity"
            android:exported="true" />
        <activity
            android:name=".kevin.SignUpActivity"
            android:exported="true" />
        <activity
            android:name=".vico.ServiceOverviewActivity"
            android:exported="true" />
        <activity
            android:name=".vico.AddServiceActivity"
            android:exported="true" />
        <activity
            android:name=".justin.ECInfoActivity"
            android:exported="true" />
        <activity
            android:name=".kevin.AuthActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>